$main-bg: hsl(0, 0%, 90%);
$keypad-bg: hsl(0, 5%, 81%);
$screen-bg: hsl(0, 0%, 93%);

$key-bg: hsl(185, 42%, 37%);
$key-shadow: hsl(185, 58%, 25%);

$key-bg-2: hsl(25, 98%, 40%);
$key-shadow2: hsl(25, 99%, 27%);

$key-bg-3: hsl(45, 7%, 89%);
$key-shadow-3: hsl(35, 11%, 61%);

$text: hsl(60, 10%, 19%);
$text-keys: hsl(0, 0%, 100%);
